table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

table {
	border:1px black solid;
	border-radius:  ?  px;
	min-width: ? px;
	font-family: Helvetica,Arial;
	
	/* Centrar la tabla en el navegador*/
}

table td {
	padding:6px;
}

table tr:first-child td:first-child {
	?  :5px 0px 0px 0px;
}

table tr:first-child td:last-? {
	border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-? {
	border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
	border-right:1px #666 solid;
}


table tr:nth-child(2n) {
	background: #87CEEB;
}

table tr:nth-child( ? ){
	background: #ADD8E6;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
	background:red;
}


table.header tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #000;
}

table.header tr:not(:first-child){
	font-size:25px;
	font-family:'courier';
}