body{
    background-image: url(../images/fondo.png);
    background-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin-top: 20px;
    background-color: rgba(242, 255, 127, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    background-color: rgba(242, 255, 127, 0.5);
    padding: 10px;
    border-radius: 10px;
}
img{
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid greenyellow;
    border-radius: 20px;
}
area{
    cursor: grab;
}