body{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
}
div{
    background-image: url(../images/mapa.webp);
    background-size: cover;
    width: 270px;
    height: 200px;
}