body{
    margin-left: 30%;
    margin-right: 30%;
    background-image: url(../images/fondo.avif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
ul{
    list-style: none;
}
a{
    margin-bottom: 5px;
    color: black;
    &:hover{
        color: brown;
    }
    &:visited{
        color: chocolate;
    }
}
button{
    font-size: 20px;
    background-color: beige;
    border: 1px solid seagreen;
    border-radius: 20px;
    &:hover{
        background-color: rgba(127, 255, 212, 0.5);
        box-shadow: 0 0 10px springgreen;
    }
}
div{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
img{
    text-align: left;
    border-radius: 20px;
}