@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root{
    --bg-color-encabezado:#004D43;
    --bg-color-footer:#004D43;
    --bg-component:#F7F8F9;

    --bg-button-component:#EBAA20;


    --color-text-component:#000;
    --color-text-header:#fff;
    --color-text-footer:#fff;
}

body {
    font-family: Arial, 'Noto Color Emoji', sans-serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: var(--bg-color-encabezado);
    color:var(--color-text-header);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo{
        height: 50px;
    }
    
    nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        li{
            cursor: pointer;
            margin: 0 1.7rem;
            border: 1px solid var(--color-text);
            padding: 5px;
            border-radius: 10px;
            
            img{
                vertical-align: bottom;
            }

            a {
                text-decoration: none;
                color: var(--color-text-header);
                
                img {
                    vertical-align: bottom;
                }
            }
        }
        
        .lenguage-list {
            margin-top: 7px;
            display: none;
            background-color: var(--bg-color-encabezado);
            padding: 5px;
            flex-direction: column;
            list-style: none;
            margin-left: auto;
            a{
                margin: 5px;
                background-color: var(--bg-component);
                padding: 5px;
                border-radius: 5px;
            }
            &:hover {
                display: flex;
            }
        }
        
        .lenguage-menu:hover{
            cursor: pointer;
        
            .lenguage-list {
                background-color: var(--bg-color-encabezado);
                position: absolute;
                display: flex;
                a {
                    color: var(--color-text-header);
                    background-color: var(--bg-button-component);
                }
            }
        }
    }
    
}

main {
    display: grid;
    margin: 5px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

section{
    text-align: center;
    background-color: var(--bg-component);
    color: var(--color-text);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 1px 1px 6px 1px var(--color-text-component);
    
    img{
        width: 70%;
        border-radius: 10px;
        &:hover{
            transition: all 0.2s ease-in-out;
            scale: 1.05;
        }
    }

    a{
        background-color: var(--bg-button-component);
        color: var(--color-text);
        text-decoration: none;
    
        border: 1px solid var(--color-text);
        border-radius: 5px;
        padding: 5px;
    }
}

.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column: 1/3;
    gap: 10px;
    box-shadow: 1px 1px 5px 1px var(--color-text-component);
    
    .producto {
        min-height: 250px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #777;
        padding: 10px;
        
        img {
            max-width: 90%;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
            
            &:hover {
                transform: scale(1.001);
            }
        }
        
        &:hover{
            box-shadow: 1px 1px 5px 1px var(--color-text-component); 
            .descripcion {
                opacity: 1;
                visibility: visible;
                max-height: 150px;
                padding: 5px;
            }
        }
        .descripcion {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out, visibility 0.3s;
        
            button{
                background-color: var(--bg-button-component);
                color: var(--color-text);
                border: transparent;
                border-radius: 10px;
                padding: 5px;

            }
        }
    }
}

aside {
    grid-column: 3/4;
    padding: 5px;
    div {
        padding: 10px;
        position: sticky;
        top: 0;
        border-radius: 10px;
        background-color: var(--bg-component);
        box-shadow: 1px 1px 5px 1px var(--color-text-component);
        h2 {
            text-align: center;
            color: var(--color-text);
        }
        input{
            width: 70%;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid transparent;
            box-shadow: 1px 1px 5px 1px var(--color-text-component);
        }

        select{
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid transparent;
            box-shadow: 1px 1px 5px 1px var(--color-text-component);
        }
    }
}

dialog{
    background-color: var(--bg-component);
    color: var(--color-text-component);

    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px var(--color-text-component);
    text-align: center;

    #carrito-lista{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        list-style: none;
        margin: 0;
    }
    
    .carrito-producto{
        img{
            width: 50px;
            border-radius: 10px;
        }
    }
}

footer{
    background-color: var(--bg-color-footer);
    color:var(--color-text-footer);
    text-align: center;
    margin-top: auto;
    padding: 5px;
}