p{
-webkit-column-count:3;
-moz-column-count:3;
column-count:3;

/**  column-width ??? **/

/**  column-gap ??? **/

/**  column-rule ??? **/
}

#superpalabra{
width:;
height:150px;
border:1px solid red;
word-wrap:;

}