header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
}

.article {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto-title {
    font-size: 24px;
    margin: 10px 0;
}

.producto-desc {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.producto-price {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.producto-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.producto-btn:hover {
    background-color: #218838;
}