:root {
    --color-fondo: #555;
    --color-texto: #fff;
    --color-borde: #555;
}

* {
    box-sizing: border-box;
    color: var(--color-texto);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-borde);
}
nav {
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: var(--color-texto);
}
nav a:hover {
    text-decoration: underline;
}
main {
    flex: 1;
    padding: 20px;
}

div{
    width: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-fondo);
    button{
        color: #000;
    }
}

input{
    color: #000;
}

textarea{
    color: #000;
}

select{
    color: #000;
    option{
        color: #000;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;

    th, td {
        padding: 10px;
        text-align: left;
    }
    
    tr {
        background-color: #333;
        &:hover {
            background-color: #555;
        }
    }

}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--color-fondo);
    border-top: 1px solid var(--color-borde);
}