:root{
    --color-primario: #007BFF;
    --color-secundario: #6C757D;
    --color-terciario: #ff7b00;
}
body{
    background-color: var(--color-secundario);
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
section{
    background-color: white;
    width: 100%;
    height: 90vh;
}
#list{
    padding: 1rem;
    #buscador{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;
        input{
            width: 100%;
            padding: 0.5rem;
            border: 1px solid var(--color-primario);
            border-radius: 5px;
            &:focus{
                outline-color: var(--color-terciario);
            }
        }
        button{
            background-color: var(--color-primario);
            color: white;
            padding: 0.5rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: var(--color-terciario);
            }
            &:active{
                scale: 0.98;
            }
        }
    }
    #contactos {
        cursor: pointer;
        overflow-y: auto;
        max-height: 80vh; /* Ajusta este valor según sea necesario */
        #nuevoContacto{
            margin-left: 2%;
            display: flex;
            padding: 1rem;
            
            width: 85%;
            border-radius: 20px;
            img{
                width: 50px;
                height: 50px;
            }
            span{
                margin-left: 1rem;
            }
            &:hover{
                background-color: var(--color-primario);
                color: white;
            }
            &:active{
                scale: 0.98;
            }
        }
        .contact_list{
            width: 90%;
            background-color: red;
            padding: 10px;
        }
        .contacto{
            margin-left: 2%;
            display: flex;
            padding: 1rem;

            width: 85%;
            height: 50px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 3px solid var(--color-primario);
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-radius: 0 20px 20px 0;
            display: flex;
            gap: 1rem;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h3{
                    margin: 0;
                    margin-bottom: -15%;
                }
            }
            &:hover{
                background-color: var(--color-primario);
                border-color: var(--color-terciario);
                color: white;
            }
            &:active{
                scale: 0.98;
            }
        }
    }
}
#formulario, #dialogo{
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    select{
        padding: 0.5rem;
        border: 1px solid var(--color-primario);
        border-radius: 5px;
        &:focus{
            outline-color: var(--color-terciario);
        }
    }
    input{
        padding: 0.5rem;
        border: 1px solid var(--color-primario);
        border-radius: 5px;
        &:focus{
            outline-color: var(--color-terciario);
        }
    }
    #f_telefono{
        width: 54%;
    }
    #d_nombre, #d_email, #d_empresa{
        width: 94%;
    }
    #f_nombre, #f_email, #f_empresa{
        width: 65%;
    }
    .btnEliminar{
        background-color: red;
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: var(--color-terciario);
        }
        &:active{
            scale: 0.98;
        }
    }
    button{
        background-color: var(--color-primario);
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: var(--color-terciario);
        }
        &:active{
            scale: 0.98;
        }
    }
}
#dialogo{
    border-radius: 20px;
    border-color: var(--color-primario);
}
.hidden {
    display: none;
}
/* Media query para pantallas más pequeñas de 600px */
@media (max-width: 600px) {
    #formulario {
        display: none;
    }
    .dialogo {
        display: block;
    }
}