ul li{
    &:nth-child(n){
        color:red;
    }
    &:nth-child(2n+1){
        color:blue;
    }
}

ul li:nth-of-type(){

}

h1,h2[class ^= "tit"]{
color:blue;
}

h1:first-child::before   {  }

p:nth-of-type(1)::first-line{
    text-transform: uppercase;
}

p:nth-of-type()::before{

}

ul~p{
    color:green;
}

::not(p){
    font-family:arial;
}

div > p {

}

a[href *= "goo"]{
color:grey;
}

p:nth-last-of-type(1)::first-letter{
    text-transform: lowercase; 
    color: red;
}
div a[href $= "com"]{
color:red;
}
h2:last-child::before{
    content: "Contenido2 ";
}
