@font-face {
    font-family: "abrilfatface-regular";
    src: 
		url("") format(""),
		url("") format(""),
        url("") format(""),
        url("") format(""),
        url("") format("");
		 
}

p {
  font-family:abrilfatface-regular;
  color:red;
  font-size:20px;
}
