@font-face {
    font-family: 'jedi';
    src: url('../font/starjedi/Starjedi.ttf') format('truetype');
}

body{
    background-color: bisque;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: jedi;

}
td{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    &:hover{
        background-color: burlywood;
    }
}
img{
    mix-blend-mode: multiply;
    max-width: 100px;
}