:root{
    --primary-color: #f5deb3; /* Wheat */
    --secondary-color: #d2691e; /* Chocolate */
    --accent-color: #ffebcd; /* Blanched Almond */
    --background-color: #fffaf0; /* Floral White */
    --text-color: #333; /* Dark Gray */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* ====== */
/* Header */
/* ====== */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--primary-color);
    color: var(--text-color)
}

.logo{
    margin-left: 5%;
    width: 75px;
    &:hover{
        scale: 1.05;
    }
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    padding: 10px;
}

.menu-list li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    &:hover{
        background-color: var(--accent-color);
    }
}

.lenguage-list, .products-list {
    display: none;
    background-color: var(--primary-color);
    padding: 5px;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
    &:hover {
        display: flex;
    }
}

.lenguage-menu:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 5px;

    .lenguage-list {
        position: fixed;
        right: 0%;
        display: flex;
    }
}

.products-menu:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 5px;

    .products-list {
        position: fixed;
        right: 10%;
        display: flex;
    }
}

/* ====== */
/* Main */
/* ====== */
main {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

main h1 {
    color: var(--secondary-color);
    font-size: 2em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30%;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--text-color);
}

form input, form textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
}

form button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: var(--text-color);
    &:hover{
        background-color: var(--secondary-color);
    }
}

/* ====== */
/* Footer */
/* ====== */
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5%;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

.redes{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 10px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--primary-color);
        }
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 10px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--accent-color);
        }
    }
}