:root{
    --primary-color: #f5deb3; /* Chocolate */
    --secondary-color: #d2691e; /* Wheat */
    --accent-color: #ffebcd; /* Blanched Almond */
    --background-color: #fffaf0; /* Floral White */
    --text-color: #333; /* Dark Gray */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* ====== */
/* Header */
/* ====== */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--primary-color);
    color: var(--text-color)
}

.logo{
    margin-left: 5%;
    width: 50px;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    padding: 10px;
}

.menu-list li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    &:hover{
        background-color: var(--accent-color);
    }
}

.lenguage-list {
    display: none;
    background-color: var(--primary-color);
    padding: 5px;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
    &:hover {
        display: flex;
    }
}

.lenguage-menu:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 5px;

    .lenguage-list {
        position: absolute;
        right: 0%;
        top: 8%;
        display: flex;
    }
}

.products-list {
    display: none;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
    &:hover {
        display: flex;
    }
}

.products-menu:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 5px;

    .products-list {
        position: absolute;
        right: 7%;
        top: 8%;
        display: flex;
    }
}

/* ====== */
/* Main */
/* ====== */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}
.productos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column: 1/3;
    gap: 10px;
}
.producto {
    text-align: center;
    background-color: var(--accent-color);
    border-radius: 10px;
    img{
        width: 90%;
        border-radius: 10px;
    }
}
aside {
    grid-column: 3/4;
    background-color: var(--accent-color);
    border-radius: 10px;
    h2 {
        text-align: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin-left: 10px;
        gap: 25px;
        a{
            background-color: var(--primary-color);
            text-decoration: none;
            color: var(--text-color);
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: var(--secondary-color);
                color: var(--accent-color);
            }
        }
    }
}

/* ====== */
/* Footer */
/* ====== */
footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5%;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

.redes{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 20px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--primary-color);
        }
    }
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 20px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--accent-color);
        }
    }
}