:root{
    --primary-color: #f5deb3; /* Chocolate */
    --secondary-color: #d2691e; /* Wheat */
    --accent-color: #ffebcd; /* Blanched Almond */
    --background-color: #fffaf0; /* Floral White */
    --text-color: #333; /* Dark Gray */
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* ====== */
/* Header */
/* ====== */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--primary-color);
    color: var(--text-color)
}

.logo{
    margin-left: 5%;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    padding: 10px;
}

.menu-list li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    &:hover{
        background-color: var(--accent-color);
    }
}

.lenguage-list {
    display: none;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
    &:hover {
        display: flex;
    }
}

.lenguage:hover{
    cursor: pointer;
    background-color: var(--accent-color);
    .lenguage-list {
        position: absolute;
        right: 2%;
        top: 5%;
        display: flex;
    }
}

/* ====== */
/* Main */
/* ====== */
main {
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

main h1 {
    color: var(--secondary-color);
    font-size: 2em;
    margin-bottom: 10px;
}

main p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

main iframe {
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

/* ====== */
/* Footer */
/* ====== */

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5%;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

.redes{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 20px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--accent-color);
        }
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 20px;
    a{
        text-decoration: none;
        color: var(--text-color);
        border-radius: 10px;
        padding: 10px;
        &:hover{
            background-color: var(--accent-color);
        }
    }
}